@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Project</h1>
    <p>This is a project made for presentation. As an example for using Azure Services</p>
</div>
